.sidenav {
    position: fixed;
    height: 100%;
    width: 220px;
    top: 0;
    left: 0;
    background-color: #111111;
    overflow-x: hidden;
    padding-top: 20px;

    span {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 25px;
        font-family: 'Roboto', Tahoma, Geneva, Verdana, sans-serif;
        color: #818181;
        display: block;
    }.selected {
        color: #e1e1e1;
    }:hover {
        color: #f1f1f1;
        cursor: pointer;
    }
}
